.main {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  padding: 48px;
  width: 900px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
  flex: 1;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
}

.inputHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.inputBox {
  padding: 12px 8px;
  border-radius: 12px;
  border: 2px solid #d8dadc;
  background-color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  background: linear-gradient(135deg, #fc8051, #e7522c);
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.border {
  border-bottom: 1px solid #d8dadc;
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: 12px;
}

.actionButtons {
  display: flex;
  border: 1px solid #d8dadc;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 12px 0px;
  cursor: pointer;
}

.pills {
  border: 1px solid #f3f4f680;
  padding: 8px 12px;
  width: fit-content;
  background-color: transparent;
  color: white;
  font-size: 12px;
  border-radius: 8px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 12px;
}

.content {
  font-size: 18px;
  color: white;
  margin-bottom: 24px;
}

.contentFooter {
  color: white;
  font-size: 14px;
}
